body {
  background-color: #e6f0f2;
}
#main-header{
  background-color: #597884;
  overflow: hidden;
  font-size: 24px;
  color: #eeeeee;
  text-align: center;
  font-family: Lucida Sans Unicode, Monaco, monospace;
}
.topnav {
  background-color: #9eb9b3;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #acc4ce;
  color: black;
}

.topnav a.active {
  background-color: #ecf4f3;
  color: black;
}
.landingPage{
  background-color: #fff;
  overflow: hidden;
  font-size: 14px;
  color: #000;
  text-align: center;
  font-family: Lucida Sans Unicode, Monaco, monospace;
  padding: 10px;
  margin-top: 5%;
}
.container{
  margin: auto;
  width: 80%;
}
